<!-- Main castle screen. -->

<!doctype html>

<html>

<head>
	<title>Welcome to {{castleName}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link href="/css/castle.css" rel="stylesheet">
	<script src="/js/analytics.js"></script>
</head>

<body>
	<div class="container wrap">
		<div id="mainDiv">
			<div class="row sidebarToggleButton">
				<a href="#menu-toggle" id="mainDivSidebarButtonImg">
					<img src="/images/HamburgerMenuBar-01.png" />
				</a>
			</div>
		</div> <!-- mainDiv -->

		<!-- Fight Scene GUI -->
		<div class="fightPane">
			<div id="castlePane">
				<div id="castleInfo" class="row">
					<h1>{{castleName}}</h1>
				</div>
			</div>
			<div id="castleHP">{{castleName}}: {{castleHealth}}/100</div>
			<div id="infoPane">
				<div id="castleHealth"></div>
				<div id="monsterHealth"></div>
			</div>
			<div id="monsterHP">{{monsterName}}: {{monsterHealth}}/100</div>
			<div id="monsterPane">
				<div id="monsterInfo" class="row">
					<h1>{{monsterName}}</h1>
				</div>
			</div>
		</div>

		<div id="sidebarDiv" class="toggled">
			<div class="row sidebarToggleButton sidebarButton">
				<a href="#menu-toggle">
					<img src="/images/HamburgerMenuBar-01.png" />
				</a>
			</div>
			<br/>
			<div id="welcomeMsgDiv" class="row">
				Welcome back {{name}}!
			</div>
			<div id="sidebarMenu"></div>
		</div> <!-- sidebarDiv -->
	</div> <!-- container -->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/castle.js"></script>

	<!-- Menu Toggle Script -->

	<script>
		$("#emailDiv").click(function(e) {
			console.log("In sending email function");
		});
	</script>
</body>

</html>
