<!-- Castle selection screen. -->

<!doctype html>

<html>
<head>
	<title>Select a Castle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/castles.css">
	<script src="/js/analytics.js"></script>
</head>

<body>
	<div class="container">
		<div id="carousel" class="carousel slide">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				{{#if castles}}
					{{#each castles}}
						{{#if @first}}
							<li data-target="#carousel" data-slide-to="{{@index}}" class="active"></li>
						{{else}}
							<li data-target="#carousel" data-slide-to="{{@index}}"></li>
						{{/if}}
						{{#if @last}}
							<li id="lastSlide" data-target="#carousel" data-slide-to="({{@index}} + 1)"></li>
						{{/if}}
					{{/each}}
					{{else}}
						<li id="lastSlide" data-target="#carousel" data-slide-to="0"></li>
				{{/if}}
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<!--{{#if castles}}-->
					{{#each castles}}
						{{#if @first}}
							<div class="item active">
								<div class="castleSlide" id="firstCastle"><a href="../castle?name={{name}}" class="btn">Enter {{name}}</a></div>
							</div>
						{{else}}
							<div class="item">
								<div class="castleSlide"><a href="../castle?name={{name}}" class="btn">Enter {{name}}</a></div>
							</div>
						{{/if}}
					{{/each}}
					<div class="item">
						<div id="noCastle">
							<div class="row">
								<a href="../castle/build" class="btn">Build</a>
							</div><div class="row">
								<a href="../castle/join" class="btn">Join</a>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#carousel" role="button" data-slide="prev" style="display: none;">
						<span class="arrow"><</span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
						<span class="arrow">></span>
						<span class="sr-only">Next</span>
					</a>
				{{else}}
					<div class="item active">
						<div class="noCastle" id="noCastle">
							<div class="row">
								<a href="../castle/build" class="btn">Build</a>
							</div><div class="row">
								<a href="../castle/join" class="btn">Join</a>
							</div>
						</div>
					</div>
				{{/if}}
			</div>
		</div>
		<div id="logout" class="footer"><a href="/">Log Out</a></div>
	</div>

	<script src="/js/hammer.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
	<script>
		var myElem = $("#carousel");
		var hammer = new Hammer(myElem[0]);
		hammer.get('swipe').set({ direction: Hammer.DIRECTION_HORIZONTAL });
		hammer.on('swiperight', function(e) {
			if($(".left").css('display') != 'none') {
				$(".left").click();
				$(".right").show();
			}
		});
		hammer.on('swipeleft', function(e) {
			if($(".right").css('display') != 'none') {
				$(".right").click();
				$(".left").show();
			}
		});

		$(".left").click(function() {
			console.log($(".active").prev());
			if($(".active").prev().children()[0].id == "firstCastle") {
				$(".left").hide();
			} else {
				$(".left").show();
			}
			$(".right").show();
		});

		$(".right").click(function() {
			if($(".active").next().children()[0].id == "noCastle") {
				$(".right").hide();
			} else {
				$(".right").show();
			}
			$(".left").show();
		});
	</script>
</body>
</html>
