<!-- Team ranking screen. -->

<!doctype html>

<html>
<head>
	<title>{{castleName}}: Team Info</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">

	<link href="/css/team.css" rel="stylesheet">
	<!--<script src="/js/analytics.js"></script>-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-87591120-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>
	<div class="container wrap">

		<div id="mainDiv">
			<div class="container-fluid">
				<div class="row sidebarToggleButton">
					<a href="#menu-toggle" id="mainDivSidebarButtonImg">
						<img src="/images/HamburgerMenuBar-01.png"/>
					</a>
				</div>
				<div id="castleNameDiv" class="row">
					<h1>{{castleName}}</h1>
				</div>
				<div class="row extra" id='rankingAchievmentButtonRow'>
					<div class="col-xs-4">
						<a href="#" id='usersButton' class="btn selected">Members</a>
					</div>
					<div class="col-xs-4">
						<a href="#" id='rankingsButton' class="btn">Rankings</a>
					</div>
					<div class="col-xs-4">
						<a href="#" id='achievementsButton' class="btn">Achievements</a>
					</div>
				</div>
			</div><div id="contentDiv" class="container-fluid">
				<div id="userDiv" class="listView">
					{{#each users}}
					{{#if currUser}}
					<div class="row userRowDiv currUserDiv">
					{{else}}
					<div class="row userRowDiv">
					{{/if}}
						<div class="col-xs-2 icon" style="background-image:url({{image}});"></div>
						<div class="col-xs-10">
							<div class="row">
								<bold>{{username}}</bold>
							</div>
							<div class="row userTaskRowDiv">
								{{#each taskList}}
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-11">{{task}}</div>
								</div>
								{{/each}}
							</div>
						</div>
					</div>
					{{/each}}
				</div>
				<div id="rankingDiv" class="hidden listView">
					{{#each rankings}}
					{{#if currUser}}
					<div class="row rankingRowDiv currUserDiv">
					{{else}}
					<div class="row rankingRowDiv">
					{{/if}}
						<div class="col-xs-2 icon" style="background-image:url({{image}});"></div>
						<div class="col-xs-10">
							<div class="row">
								<div class="col-xs-8" style="padding: 0;">{{username}}</div>
								<div class="col-xs-4" style="text-align: right;">{{numCompleted}}</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>

				<div id="achievementDiv" class="hidden listView">
					{{#each achievements}}
					<div class="row achievementRowDiv">
						<div class="col-xs-2 icon" style="background-image:url(/images/{{image}});"></div>
						<div class="row">
							<div class="col-xs-8">{{name}}</div>
							<div class="col-xs-4" style="text-align: right;">{{numCompleted}}</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>


  	<div id="sidebarDiv" class="toggled">
			<div class="row sidebarToggleButton sidebarButton">
				<a href="#menu-toggle">
					<img src="/images/HamburgerMenuBar-01.png"/>
				</a>
			</div>
			<br/>
			<div id="welcomeMsgDiv" class="row">
				Welcome back {{name}}!
			</div>
			<div id="sidebarMenu"></div>
			<!--
			<div class="row">
				<a href="/castle/team" class="sidebarButton">
					<img src="/images/TeamInfo-01-01.png"/>
				</a>
			</div>
			<div class="row">
				<a href="/quests.html" class="sidebarButton">
					<img src="/images/Quests-01-01.png"/>
				</a>
			</div>
			<div class="row">
				<a href="/newQuest.html" class="sidebarButton">
					<img src="/images/MakeTask-01-01.png"/>
				</a>
			</div>
			<br/>
			<div class="row">
				<a href="/" class="sidebarButton">
					<img src="/images/PersonalAccount-01-01.png"/>
				</a>
			</div>
			<div id="welcomeMsgDiv" class="row">
				Welcome back {{name}}!
			</div>
			<div id="myAccountDiv" class="row">
				<a href="/">Log Out</a> | <a href="/">Help</a>
			</div>-->
		</div>


	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/castle.js"></script>

	<!-- Menu Toggle Script -->
	<script>

	$("#rankingsButton").click(function(e) {
			e.preventDefault();
			$("#achievementDiv").addClass("hidden");
			$("#userDiv").addClass("hidden");
			$("#rankingDiv").removeClass("hidden");

			$("#achievementsButton").removeClass("selected");
			$("#usersButton").removeClass("selected");
			$("#rankingsButton").addClass("selected");
	});
	$("#achievementsButton").click(function(e) {
			e.preventDefault();
			$("#rankingDiv").addClass("hidden");
			$("#userDiv").addClass("hidden");
			$("#achievementDiv").removeClass("hidden");

			$("#rankingsButton").removeClass("selected");
			$("#usersButton").removeClass("selected");
			$("#achievementsButton").addClass("selected");
	});
	$("#usersButton").click(function(e) {
			e.preventDefault();
			$("#rankingDiv").addClass("hidden");
			$("#achievementDiv").addClass("hidden");
			$("#userDiv").removeClass("hidden");

			$("#rankingsButton").removeClass("selected");
			$("#achievementsButton").removeClass("selected");
			$("#usersButton").addClass("selected");
	});

	$(".userRowDiv").click(function(e) {
			e.preventDefault();
			if($(this).find('.userTaskRowDiv').css('display') === 'none') {
				$(this).find('.userTaskRowDiv').slideDown();
			} else {
				$(this).find('.userTaskRowDiv').slideUp();
			}

	});
	</script>
</body>
</html>
