<!-- Team ranking screen. -->

<!doctype html>

<html>
<head>
	<title>{{castleName}}: Team Info</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">

	<link href="/css/team.css" rel="stylesheet">
</head>

<body>
	<div class="container wrap">

		<div id="mainDiv">
			<div class="row sidebarToggleButton">
				<a href="#menu-toggle" id="mainDivSidebarButtonImg">
					<img src="/images/HamburgerMenuBar-01.png"/>
				</a>
			</div>
			<div id="castleNameDiv" class="row">
				<h1>Team {{castleName}}</h1>
			</div>
			<div class="row" id='rankingAchievmentButtonRow'>
				<a href="#" id='rankingsButton' class="selected btn">Rankings</a> <a href="#" id='achievementsButton' class="btn">Achievements</a>
			</div>
			<div id="rankingDiv">
				{{#each rankings}}
				<div class="rankingRowDiv">
					<img src="/images/{{image}}"/> {{name}}
				</div>
				{{/each}}
			</div>
			<div id="achievementDiv" class="hidden">
				{{#each achievements}}
				<div class="achievementRowDiv">
					<img src="/images/{{image}}"/> {{name}}
				</div>
				{{/each}}
			</div>
		</div>


  	<div id="sidebarDiv" class="toggled">
			<div class="row sidebarToggleButton sidebarButton">
				<a href="#menu-toggle">
					<img src="/images/HamburgerMenuBar-01.png"/>
				</a>
			</div>
			<br/>
			<div id="welcomeMsgDiv" class="row">
				Welcome back {{name}}!
			</div>
			<div id="sidebarMenu"></div>
			<!--
			<div class="row">
				<a href="/castle/team" class="sidebarButton">
					<img src="/images/TeamInfo-01-01.png"/>
				</a>
			</div>
			<div class="row">
				<a href="/quests.html" class="sidebarButton">
					<img src="/images/Quests-01-01.png"/>
				</a>
			</div>
			<div class="row">
				<a href="/newQuest.html" class="sidebarButton">
					<img src="/images/MakeTask-01-01.png"/>
				</a>
			</div>
			<br/>
			<div class="row">
				<a href="/" class="sidebarButton">
					<img src="/images/PersonalAccount-01-01.png"/>
				</a>
			</div>
			<div id="welcomeMsgDiv" class="row">
				Welcome back {{name}}!
			</div>
			<div id="myAccountDiv" class="row">
				<a href="/">Log Out</a> | <a href="/">Help</a>
			</div>-->
		</div>


	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/castle.js"></script>

	<!-- Menu Toggle Script -->
	<script>

	$("#rankingsButton").click(function(e) {
			e.preventDefault();
			$("#achievementDiv").addClass("hidden");
			$("#rankingDiv").removeClass("hidden");
			$("#rankingsButton").removeClass("unselected");
			$("#achievementsButton").addClass("unselected");
			$("#achievementsButton").removeClass("selected");
			$("#rankingsButton").addClass("selected");
	});
	$("#achievementsButton").click(function(e) {
			e.preventDefault();
			$("#achievementDiv").removeClass("hidden");
			$("#rankingDiv").addClass("hidden");
			$("#achievementsButton").removeClass("unselected");
			$("#rankingsButton").addClass("unselected");
			$("#rankingsButton").removeClass("selected");
			$("#achievementsButton").addClass("selected");
	});
	</script>
</body>
</html>
