<!-- Map and quest board screen. -->

<!doctype html>

<html>
<head>
	<title>Create a new Quest</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/wizard.css">
	<script src="/js/analytics.js"></script>
</head>

<body>
	<div class="container wrap">
		<div id="mainDiv">
			<div class="row sidebarToggleButton">
				<a href="#menu-toggle" id="mainDivSidebarButtonImg">
					<img src="/images/HamburgerMenuBar-01.png" />
				</a>
			</div>
			<div class="container-fluid">
				<!-- <button class="backBtn">Back</button> -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-4">
							<img src="/images/characters/wizardTransparent.png" height="100px">
						</div>
						<div class="col-xs-6 vertical-center">
							<div id="greedingDiv">
								<div>Howdy Traveler</div>
								<a href="/newQuest2" class="btn">Make a new Quest</a>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row extra">
						<div class="col-xs-6">
							<h6 id="openQuestsBtn" class="btn selected">Team Quests</h6>
						</div>
						<div class="col-xs-6">
							<h6 id="personalQuestsBtn" class="btn">Personal Quests</h6>
						</div>
					</div>
					<div class="row taskList">
						<div id="personalList" class="hidden">
								{{#each currentTaskList}}
									<div class="row currentTaskRow" id="task#{{id}}">
										<div class="col-xs-5">{{title}}</div>
										<div class="col-xs-3">{{level}} pts</div>
										<div class="col-xs-4 btn">Complete</div>
									</div>
								{{/each}}
								<div class="row" style="margin-bottom: 0px !important;">
									{{#if onlyOneCompleted}}
										Completed {{numCompleted}} Quest
									{{else}}
										Completed {{numCompleted}} Quests
									{{/if}}
								</div>
								<div class="row">
									<h5 class="completedQuestsBtn btn">Show Completed Quests</h5>
								</div>
								<div class="doneList hidden">
									{{#each userCompleteTaskList}}
										<div class="row doneTaskRow">
											<div class="col-xs-7">{{title}}</div>
											<div class="col-xs-5">{{level}} pts</div>
											<!--<div class="col-xs-4 btn">Reopen</div>-->
										</div>
									{{/each}}
								</div>
						</div>
						<div id="teamList">
							{{#each todoTaskList}}
								<div class="row todoTaskRow">
									<div class="showDesc">
										<div class="col-xs-5 info" id="task#{{id}}">
											<div class="title">{{title}}</div>
											<div class="subtitle">{{deadline}}</div>
										</div>
										<div class="col-xs-3 vertical-center" id="levelField">
											<div>{{level}} pts</div>
										</div>
									</div>
									<p class="col-xs-4 btn">Accept</p>
								</div>
								<div class="row descRow" style="display: none;">
									<div class="col-xs-12">
										<div class="description">{{description}}</div>
									</div>
								</div>
							{{/each}}
							{{#each inProgressTaskList}}
								<div class="row inProgressTaskList">
									<div class="col-xs-5">{{title}}</div>
									<div class="col-xs-3">{{level}} pts</div>
									<div class="col-xs-4">{{takenBy}}</div>
								</div>
							{{/each}}
							<div class="row">
								<h6 class="completedQuestsBtn btn">Show Completed Quests</h6>
							</div>
							<div class="doneList hidden">
								{{#each doneTaskList}}
									<div class="row doneTaskRow">
										<div class="col-xs-5">{{title}}</div>
										<div class="col-xs-3">{{level}} pts</div>
										<div class="col-xs-4">{{takenBy}}</div>
									</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- mainDiv -->

		<div id="sidebarDiv" class="toggled">
			<div class="row sidebarToggleButton sidebarButton">
				<a href="#menu-toggle">
					<img src="/images/HamburgerMenuBar-01.png" />
				</a>
			</div>
			<br/>
			<div id="welcomeMsgDiv" class="row">
				Welcome back {{name}}!
			</div>
			<div id="sidebarMenu"></div>
		</div>
		<!-- sidebarDiv -->
	</div>
	<!-- container -->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/wizard2.js"></script>
</body>
</html>
